@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400&family=Ubuntu+Mono&display=swap);

:root {
  --fnt-titles: "Lato", sans-serif;
  --fnt-text: "Roboto Mono", monospace;
  --fnt-links: "Ubuntu Mono", monospace;
  --clr-highlights: #26f7b2;
  --clr-almostwhite: #d3edea;
  --clr-darkblue: #09333f;
  --clr-lighblue: #009d9a;
  margin: 0;
  padding: 0;
}
/* #################################   MAIN DESIGN   ##################### */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 5vw;
    align-self: center;
    justify-self: center;
  }

.about-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 70vh;
  padding-left: 2vw;
}

.title-about {
  color: var(--clr-highlights);
  font-family: var(--fnt-titles);
  font-size: 30px;
  float: left;
}

.about-copy p {
  font-family: var(--fnt-text);
  color: var(--clr-almostwhite);
  font-size: 15px;
  text-align: justify;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 10vw;
}
.profile-pic {
  width: 300px;
  border-radius: 50%;
}

.next-page-about{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    margin-top: 1vw;
    margin-bottom: 3vw;
    justify-self: flex-end;
    min-height: 10vh;
  }
  .next-page-about-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10vw;
    width: 150px;
    height: 40px;
    border: solid 2px var(--clr-highlights);
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    font-family: var(--fnt-titles);
    color: vr(--clr-highlights);
  }



