@import url(https://fonts.googleapis.com/css?family=Baloo+Chettan:regular|Lato:regular|Padauk:regular);

:root {
  --fnt-titles: "Baloo Chettan", sans-serif;
  --fnt-text: "Padauk", monospace;
  --fnt-links: "Lato", monospace;
  --clr-highlights: #26f7b2;
  --clr-almostwhite: #d3edea;
  --clr-highlightpurple: #5e2bff;
  --clr-darkpurple: #160f29;
  --clr-neutralgray: #565857;
  margin: 0;
  padding: 0;
}
/* #################################   MAIN DESIGN   ##################### */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    width: 100%;
    gap: 5vw;
    align-self: center;
    justify-self: center;
    animation: slide-in-right 1s ease-in-out forwards;
  }

.about-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 70vh;
  padding-left: 2vw;
}
@media (max-width:940px) {
  .about-copy {
    width: 90%;
  }
  
  .next-page {
    display: none;
  }
  
}

.title-about {
  color: var(--clr-highlights);
  font-family: var(--fnt-titles);
  font-size: 40px;
  float: left;
}

.about-copy p {
  font-family: var(--fnt-text);
  color: var(--clr-almostwhite);
  font-size: 15px;
  text-align: justify;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 10vw;
}
.profile-pic {
  width: 300px;
  border-radius: 50%;
}

.next-page-about{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    margin-top: 1vw;
    margin-bottom: 3vw;
    justify-self: flex-end;
    min-height: 10vh;
  }
  .next-page-about-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10vw;
    width: 150px;
    height: 40px;
    border: solid 2px var(--clr-highlights);
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    font-family: var(--fnt-titles);
    color: vr(--clr-highlights);
  }



