@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400&family=Ubuntu+Mono&display=swap);


:root{
  --fnt-titles: 'Lato', sans-serif;
  --fnt-text: 'Roboto Mono', monospace;
  --fnt-links: 'Ubuntu Mono', monospace;
  --clr-highlights: #26F7B2;
  --clr-almostwhite: #D3EDEA;
  --clr-highlightpurple: #5E2BFF;
  --clr-darkpurple: #160F29;
  --clr-neutralgray: #565857;
  margin: 0;
  padding: 0;

}

.contact-title{
    font-family: var(--fnt-titles);
    color: var(--clr-highlights);
    font-size: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 2vw;
    
}

.contact-container p{
    font-family: var(--fnt-text);
    color: var(--clr-almostwhite);
    font-size: 18px;
}

.contact-container .email{
    color: var(--clr-highlightpurple);
    font-family: var(--fnt-titles);
    font-size: 40px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 25vw;
    background-color: var(--clr-almostwhite);
    border-radius: 1vw;
    color:var(--clr-almostwhite)
}

.social-icon{
    padding: 1vw;
}
.social-icon:hover{
    opacity: 50%;
}

.contact-form input{
    width: 20vw;
    box-sizing: border-box;
  border: 2px solid var(--clr-darkpurple);
  border-radius: 4px;
  background-color: var(--clr-darkpurple);
  resize: none;
  color: var(--clr-almostwhite);
  font-family: var(--fnt-text);
}
.input-message textarea{
width: 20vw;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid var(--clr-darkpurple);
  border-radius: 4px;
  background-color: var(--clr-darkpurple);
  resize: none;
  color: var(--clr-almostwhite);
}
.contact-form input[type=submit]{
    background-color: var(--clr-highlights);
    color: var(--clr-darkpurple);
}
.contact-form input[type=submit]:hover{
    opacity: 50%;
}