@import url(https://fonts.googleapis.com/css?family=Baloo+Chettan:regular|Lato:regular|Padauk:regular);


:root{
    --fnt-titles: "Baloo Chettan", sans-serif;
    --fnt-text: "Padauk", monospace;
    --fnt-links: "Lato", monospace;
    --clr-highlights: #26f7b2;
    --clr-almostwhite: #d3edea;
    --clr-highlightpurple: #5e2bff;
    --clr-darkpurple: #160f29;
    --clr-neutralgray: #565857;
    margin: 0;
    padding: 0;

}

.contact-title{
    font-family: var(--fnt-titles);
    color: var(--clr-highlights);
    font-size: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 2vw;
    animation: slide-in-right 1s ease-in-out forwards;
}

.contact-container p{
    font-family: var(--fnt-text);
    color: var(--clr-almostwhite);
    font-size: 18px;
}

.contact-container .email{
    color: var(--clr-highlightpurple);
    font-family: var(--fnt-titles);
    font-size: 40px;
    width: 100%;
    max-width: 100vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 400px;
    background-color: var(--clr-almostwhite);
    border-radius: 1vw;
    color:var(--clr-almostwhite)
}

.social-icon{
    padding: 1vw;
}
.social-icon:hover{
    opacity: 50%;
}

.contact-form input{
    width: 100%;
    max-width: 60vw;
    box-sizing: border-box;
  border: 2px solid var(--clr-darkpurple);
  border-radius: 4px;
  background-color: var(--clr-darkpurple);
  resize: none;
  color: var(--clr-almostwhite);
  font-family: var(--fnt-text);
}
.input-message textarea{
    width: 100%;
  height: 200px;
  max-width: 60vw;
  box-sizing: border-box;
  border: 2px solid var(--clr-darkpurple);
  border-radius: 4px;
  background-color: var(--clr-darkpurple);
  resize: none;
  color: var(--clr-almostwhite);
}
.contact-form input[type=submit]{
    background-color: var(--clr-highlights);
    color: var(--clr-darkpurple);
}
.contact-form input[type=submit]:hover{
    opacity: 50%;
}
@media (max-width: 600px){
    .contact-title{
        font-size: 20px;
    }
    .contact-container p{
        font-size: 12px;
    }
    .contact-container .email{
        font-size: 15px;
    }

}