/* @import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400&family=Ubuntu+Mono&display=swap); */
@import url(https://fonts.googleapis.com/css?family=Baloo+Chettan:regular|Lato:regular|Padauk:regular);


:root {
  --fnt-titles: "Baloo Chettan", sans-serif;
  --fnt-text: "Padauk", monospace;
  --fnt-links: "Lato", monospace;
  --clr-highlights: #26f7b2;
  --clr-almostwhite: #d3edea;
  --clr-highlightpurple: #5e2bff;
  --clr-darkpurple: #160f29;
  --clr-neutralgray: #565857;
  margin: 0;
  padding: 0;
}

/* #################################   MAIN DESIGN   ##################### */

.main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-image: url("../images/background-dark02.jpg");
  min-height: 100vh;
  overflow: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.main-home {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  min-height: 65vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-almostwhite);
  font-family: var(--fnt-links);
  padding-left: 2vw;
  padding-right: 2vw;
}

/* #################################   TYPOGRAPHY  ##################### */
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.nome {
  display: inline-block;
  padding: 10px;
}

.nome svg{
  overflow: visible;
  
}
.title h1 {
  font-size: 80px;
  animation: slide-in-right 1s ease-in-out forwards;
}
.title h2 {
  font-family: var(--fnt-links);
  font-size: 40px;
  animation: slide-in-right 1s ease-in-out forwards;
}
@keyframes slide-in-right{
  0%{
    transform: translate(-500px,0);
    opacity: 0;
  }
  100%{
    
      opacity: 1;
      transform: translate(0,0);
    
  }
}




.next-page {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-end;
  padding-left: 10vw;
  gap: 1vw;
  bottom: 5px;
  left: 5px;
  min-height: 10vh;
}
.next-page-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 40px;
  border: solid 2px var(--clr-highlights);
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  font-family: var(--fnt-titles);
  color: var(--clr-highlights);
}

.next-page-btn :hover{
  transform: scale(1.3); 
}

/* ###############################  MOBILE ################################ */
@media (max-width: 600px) {
  .title {
    flex-wrap: wrap;
  }
  .title h1 {
    font-size: 24px;
  }

  .title h2 {
    font-size: 14px;
  }

}

@media (max-width: 800px){
  .next-page {
    display: none;
  }
}
