@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400&family=Ubuntu+Mono&display=swap);


:root{
  --fnt-titles: 'Lato', sans-serif;
  --fnt-text: 'Roboto Mono', monospace;
  --fnt-links: 'Ubuntu Mono', monospace;
  --clr-highlights: #26F7B2;
  --clr-almostwhite: #D3EDEA;
  --clr-darkblue: #09333F;
  --clr-lighblue: #009D9A;
  margin: 0;
  padding: 0;

}

/* #################################   MAIN DESIGN   ##################### */

.main-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-image: url("../images/background-dark.png"); 
  min-height: 100vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 2vw 10vw 0 0; 
}

.navbar span{
  padding: 2vw;
}


.navbar .language{
  display: none;
}

.select-language{
  float:left;
}
.navbar span{
  font-family: var(--fnt-links);
  font-size: 18px;
  color: var(--clr-highlights);
}

.main-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:10vw;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-almostwhite);
  font-family: var(--fnt-titles);

}



.profile-pic{
  width: 100%;
  max-width: 30vw;
  max-height: 30vw;
  border-radius: 50%;
}

/* #################################   TYPOGRAPHY  ##################### */
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}



.title .nome{
  color: var(--clr-highlights);
}
.title h1{
  font-size: 60px;
}
.title h2{
  font-size: 26px;
}

.next-page{
  position: fixed; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
 padding-left: 10vw;
 gap: 1vw;
 bottom: 5px;
 left: 5px;
}
.next-page-btn{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 40px;
  border: solid 2px var(--clr-highlights);
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  font-family: var(--fnt-titles);
  color: var(--clr-highlights);
}


