
@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400&family=Ubuntu+Mono&display=swap);


:root{
  --fnt-titles: 'Lato', sans-serif;
  --fnt-text: 'Roboto Mono', monospace;
  --fnt-links: 'Ubuntu Mono', monospace;
  --clr-highlights: #26F7B2;
  --clr-almostwhite: #D3EDEA;
  --clr-highlightpurple: #5E2BFF;
  --clr-darkpurple: #160F29;
  --clr-neutralgray: #565857;
  margin: 0;
  padding: 0;

}

.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
}

.progpic2{
    width: 100%;
    max-width: 30vw;
    max-height: 30vw;
    border-radius: 2%;
}

.skills{
    font-family: var(--fnt-text);
    color: var(--clr-almostwhite);
    font-size: 18px;
}

.skills h1{
    font-family: var(--fnt-titles);
    color: var(--clr-highlights);
    font-size: 40px;
}